<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syams.sppk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"/>
        <activity
            android:name=".DaftarActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".TambahDataActivity" />
        <activity android:name=".DataTanamanActivity"
            android:noHistory="true"/>
        <activity android:name=".HitungSppkActivity" />
        <activity android:name=".HasilSppkActivity"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3734d1fbe8773e27a53a0a730bfdfaec158b3845" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>